@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Times, serif;
  background-color: #f7f7f7;
  color: #333;
}

/* HERO */

.hero-description {
  color: #81da76;
}

.hero-highlight {
  color: #dbfbe0;
}

/* Fonts */
.feature {
  padding: 100px;
}

.feature-item {
  padding: 30px 0;
}

.feature-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #23c93c;
  margin-bottom: 10px;
}

.feature-title-selected {
  text-decoration: underline;
}

.feature-description {
  text-align: right;
}
